@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pretendard";
  src: url("@/assets/fonts/Pretendard-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("@/assets/fonts/Pretendard-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("@/assets/fonts/Pretendard-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

/* Head */
.text-head-48 {
  @apply text-3xl sm:text-4xl font-bold font-sans;
}

.text-head-32-bold {
  @apply text-xl sm:text-2xl font-bold font-sans;
}

.text-head-32-regular {
  @apply text-xl sm:text-2xl font-normal font-sans;
}

.text-head-24-bold {
  @apply text-lg sm:text-xl font-bold font-sans;
}

.text-head-20-semibold {
  @apply text-base sm:text-lg font-semibold font-sans;
}

.text-head-32-semibold {
  @apply text-xl sm:text-2xl font-semibold font-sans;
}

/* Body */
.text-body-20-regular {
  @apply text-base sm:text-lg font-normal font-sans;
}

.text-body-16-semibold {
  @apply text-xs sm:text-sm font-semibold font-sans;
}

.text-body-16-regular {
  @apply text-xs sm:text-sm font-normal font-sans;
}

.text-body-14-regular {
  @apply text-[10px] sm:text-xs font-normal font-sans;
}

@layer utilities {
  /* placeholder 전용 폰트 크기 */
  .placeholder-sm::placeholder {
    @apply text-body-16-regular;
  }
  .placeholder-md::placeholder {
    @apply text-body-20-regular;
  }
  .placeholder-lg::placeholder {
    @apply text-head-20-semibold;
  }

  /* 줄 간격 옵션 */
  .placeholder-tight::placeholder {
    @apply leading-[1.4];
  }
}

/* 표준 페이지 컨테이너: 좌우 여백/최대폭 통일 */
.page-container {
  /* 중앙 정렬 + 폭 제한 + 반응형 패딩 */
  @apply mx-auto w-full max-w-screen-2xl
         px-4 sm:px-8 lg:px-12 xl:px-20 2xl:px-28;
}

/* uiweditor (마크다운 에디터)용 css*/
.wmde-markdown ul,
.wmde-markdown ol {
  list-style: disc !important;
  margin-left: 1.5rem !important;
}
.wmde-markdown li {
  display: list-item !important;
}
